[Unit]
Description=sdeviced service
After=lighttpd.service

[Service]
Type=simple
User=sentry
PIDFile=/var/run/sdeviced.pid
ExecStart=/usr/local/sbin/smonitor.py
Restart=always

[Install]
WantedBy=multi-user.target

