html, body {
    font-size: 200%;
}

input, button {
    font-size: 1em;
}
@media only screen and (min-device-width: 768px) {
    html, body {
        font-size: 150%;
    }
}

@media only screen and (min-device-width: 960px) {
    html, body {
        font-size: 100%;
    }

    #container {
        width: 960px;
        margin: 0 auto;
    }
}

