
	body {
		margin: 29px 0 0 7px;
		font-size: 400%; /*84px*/
		font-family: sans-serif;
	}

	a:visited {
		color:blue;
	}

	input {
		font-size: 1em; /* 72px */
	}

	button {
		font-size: 1em; /* 48px */
	}

	.chart {
		text-align: center;
	}

	.chart-interval {
		margin: 0 0 0 0;
	} 

	.home-copy {
		font-family: monospace;
	}

	.reading {
		font-size: 2em;
		margin:0 0 .5em 0;
	}

	.reading-block {
		margin: 0 0 0 0;
	}

	.reading-block-nc {
		font-size: .5em;
		margin: 0 0 .25em 0;
	}	

	.reading-time {
		font-size: .5em;
		margin: 0 0 1em 0;
	}

	.title {
		font-size: 1.5em;
		font-weight: bold;
		font-family: serif;
	}

	.title-2 {
		font-size: 1.25em;
		font-weight: bold;
	}

	.title-3 {
		font-weight:bold;
	}


	.nav_header {
	    width: 100%;
		font-size: 1.1em; /* 72px */
		font-family: serif;
	}

	.nav_header_block {
	    display: inline-block;
	    margin: 0 19px 0 0;
	}

	.nav-charts {
		width: 100%;
		font-family:serif;
		font-size: 1em;
		margin: 0 0 .5em 0;
	}

	.nav-charts-block {
		display: inline-block;
		margin: 0 .25em 0 0;
	}

	.nav-list-block {
		margin: 0 0 .25em 0;
	}



@media only screen and (min-device-width: 768px) {
	body {
		margin: 0 150px 0 150px;
		font-size: 150%;
	}

 	input {font-size: 14px;}
	button {font-size: 12px;}
	
	.chart-interval {
		font-size: 3em;
	}

	.nav-charts {
		font-size: 2em;
		margin: 0 0 2em 0;
	}

   .reading {
        font-size: 2.5em;
        margin:0 0 .5em 0;
    }

    .reading-block {
		display: inline-block;
        margin: 0 1em 0 0;
    }

	.reading-time {
		font-size: .75em;
		margin: 0 0 1em 0;
	}	

	.title {
		font-size: 36px;
		font-weight: bold;
	}

	.title-2 {
		font-size: 24px;
		font-weight: bold;
	}

	.title-3 {
		font-size: 18px;
		font-weight: bold;
	}

	.nav-charts {
		display: inline-block;
		margin: 0 1em 0 0;
	}

	.nav_header {
		width: 100%;
	}
 
	.nav_header_block {
		display: inline-block;
		margin: 0 8px 0 0;
	}

	.form-input {
		margin: 0 0 10px 0;
	}

	.form-button {}

	.setting-header {font-size: 18px;}
	.minor {font-size: 12px;}
}
