html, body {
	margin: 10px 0 10px 0;
	font-size: 190%;
	font-type: 'sans-serif';
	color: #333333;
        background-color: #EEEEEE;
	height: 100%;
}

#header   { grid-area: header;}
#nav-main { grid-area: nav-main;}
#content  { grid-area: content;}
#footer   { grid-area: footer;}

a {
	color: #3333ff;
}

a:visited {
	color:#3333ff;
}

#container {
	display: grid;
	min-height: 100%;
	grid-gap: 1em;
	grid-template-areas: "header"
                            "nav-main"
                            "content"
                            "footer";
	grid-template-rows: 25px 25px 1fr auto;
	text-align: center;
}

#header {
	text-align:center;
}

#nav-main {
	font-size: .9em;
}

#content {
	margin: 0 .5em 0 .5em; 
}

.title {
	margin-top: .5em;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

#content {
}
#footer {
        width: 100%;
	font-size: .7em;
	text-align: right;
	color: #5c5c5c;
}

#ds-header {
	margin: 0 0 30px 0;
}

#ds-device-wrap {
	text-align: center;
}

#ds-device {
	text-align: left;
}

p, li {
	font-size:.8em;
	line-height: 1.5em;
	text-align: left;
}

h1 {
	line-height: .5em;
	font-size:1.3em;
}


h2 {
	font-size: 1em;
	margin: 1em 0 0 0;
}

h3 {
	font-size: .8em;
}

form {
	margin:20px 0 0 0;
}



input {
	margin: 0 0 20px 0;
	font-size: 1em;
        width: 9em;
}

input[type='radio'] {
	width: 1em;
	height: 1em;
}

button {
	color: #FFFFFF;
	background-color: #0099cc;
	padding: 5px 100px 5px 100px;
        width: 9em;
	margin: 1em auto 20px auto;
	font-size: 1em;
	text-align: center;
}

.breadcrumbs {
	margin-top: .5em;
	text-align: left;
	font-size: .8em;
}

.charts-nav {
	text-align: center;
}

.charts {
	display: inline-block;
	vertical-align: top;
	margin: 0 .75em .5em 0;
}

.chart-block {
	text-align: right;
}

.chart-timeframe {}

.device-reading {
	text-align: left;
}

.device-edit {
	text-align: left;
}


.device-settings {
	margin: 0 0 0 30px;
	text-align: left;
}

.device-reading-block {
	display: inline-block;
	margin: 0 20px 0 0;
	font-size: 1.1em;
	font-weight: bold;
}

.device-reading-ts {} 

.reading {
}

.devices-list {
	margin: 0 0 20px 0;
	
}

.devices-alias {
	text-align: left;
}

.devices-reading {
	margin: 0 0 30px 0;
	text-align: left;
}

.devices-reading-block {
	display: inline-block;
	margin: 0 .1em 0 0;
	font-size: 1.2em;
}

.devices-reading-nc {}

.devices-reading-ts {}

.login-form {
	margin-top: 3em;
	text-align: center;
}

.map {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	font-size: .9em;
	text-align: center;
}

.map-title {
	font-weight:bold;
	font-size: .8em;
	text-align: left;
	margin-bottom: .25em;
}

.map-key {
	display: inline-block;
	width: 5.5em;
	text-align: left;
}

.map-value {
	display: inline-block;
	width: 9em;
	text-align: left;
}


.map-action {}

.nav-main {
	margin: 0 0 30px 0;
}

.nav-main-block {
	display: inline-block;
	margin-right:.3em;
}


.settings-header {
	margin: 30px 0 0 30px;
	text-align: left;
}

.settings-subheading {
	margin: 0 55px 0 60px;
	text-align:left;
}

.spaced {
	letter-spacing: 1px;
}


.text-minor {
	font-size: .8em;
}

.list {
	margin: 10px 0 10px 0;
	text-align: center;
}


@media only screen and (min-device-width: 768px) {

html, body {
	height: 100%;
	font-size: 150%;
	font-family: "Verdena", "Geneva", sans-serif;
}


#container {
	grid-template-rows: 1.5em .5em 1fr auto;
	text-align: center;
}

#header {
	font-size: 2em;
}

#nav-main {
	font-size: 1em;
}


#footer {
	font-size: .8em;
}

.title {
	margin-top: .25em;
	font-size: 1.5em;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

input {}

button {}


.align-left {
	text-align: left;
}

.center-wrap {}

.charts {
	display: inline-block;
	margin: 0 0 .5em 1em ;
	text-align: left;
}

.chart-block {}

.chart-timeframe {
	font-size: 1.25em;
	font-weight: bold;
}

.device-reading {
	margin-bottom: .25em;
	text-align: center;
}

.device-reading-block {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
}


.devices-list {}

.devices-alias {
	margin: 0 0 .25em 0;
}

.devices-reading-block {
	display: inline-block;
	margin: 0 1em .1em 0;
	font-size: 1.5em;
}

.map {
	width: 17em;
	font-size: .9em;
}

.map-3c {
	width: 21em;
}

.map-title {
	font-weight: bold;
	font-size: .7em;
}

.map-key {
	display: inline-block;
	margin: .3em 0 0 0;
}

.map-value {
	display: inline-block;
	margin: 0 1em 0 0;
}

.map-action {
	display: inline-block;
	width: 4em;
}


.timeframe {
	font-size: 1.2em;
	font-weight: bold;
}


}

@media only screen and (min-device-width: 960px) {
html, body {
	font-size: 100%;
}

#container {
	display: grid;
	grid-template-columns: 225px auto;
        grid-template-rows:75px auto 75px;
	grid-template-areas: "header nav-main"
                             "content content"
                             "footer footer";
	width:960px;
	margin: 0 auto;
	text-align: left;
}


#header {
	font-size: 2em;
	text-align:left;
}

#nav-main {
	font-size: 1em;
}

#footer {
	font-size: 1em;
}

.index {
	margin: 0 0 0 0;
}

.list {
	margin-left: 1em;
	text-align: left;
}

.nav-main-block {}
.title {
	font-size: 1.7em;
	font-weight: bold;
	text-align: left;
}

h1 {
	font-size: 2em;
}

button {
	padding: 0 0 0 0;
}

.align-left {
	text-align: left;
}

.charts {
	display: block;
	margin: 0 0 .5em 0 ;
	text-align: left;
}

.chart-block {
	display: inline-block;
	margin-right: .5em;
}

.chart-timeframe {
	font-size: 1.25em;
	font-weight: bold;
}

.device-reading {
	margin: 0 0 1em 0;
	text-align: left;
}

.device-reading-block {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
}

.devices-reading-block {
	display: inline-block;
	margin: 0 1em 0 0;
	font-size: 1.5em;
}

.device-settings {
	text-align: left;
}

.login-form {
	text-align: left;
}

.map {
	margin-left: 0;
}

.map-3c {
}

.map-key {}

.map-value {}

.map-action {
	width: 4em;
}

.timeframe {
	font-size: 1.2em;
	font-weight: bold;
}


}
